@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Audit Logs";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Audit Logs</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Dashboard", "Home")">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Logs</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Audit Logs</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>