@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "List of Managers";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>List of Managers</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Dashboard", "Index")">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Manage Users</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>List of Managers</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
        <a asp-action="CreateNewManager" class="btn btn-primary btn-sm float-right mt-3">
            <i class="fa fa-plus"></i> Register New Manager
        </a>
    </div>
</div>