<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="@Url.Action("Index", "JudgeDashboard")"> Judge Dashboard</a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li style="padding:20px">
                <a class="btn btn-link nav-link" asp-controller="JudgeDashboard" asp-action="EnterScores" asp-route-eventId="@Model.EventId" style="border: none; background: none; padding: 0; color: inherit;">
                    <i class="fa fa-pencil"></i> Enter Scores
                </a>
            </li>
            <li style="padding:20px">
                <a class="btn btn-link nav-link" asp-controller="JudgeDashboard" asp-action="LiveResult" asp-route-eventId="@Model.EventId" style="border: none; background: none; padding: 0; color: inherit;">
                    <i class="fa fa-list-alt"></i> Result
                </a>
            </li>
            <li style="padding:20px">

                <a class="btn btn-link nav-link" asp-controller="JudgeDashboard" asp-action="FinalRankings" asp-route-eventId="@Model.EventId" style="border: none; background: none; padding: 0; color: inherit;">
                    <i class="fa fa-list-alt"></i> Final Ranking
                </a>
            </li>
            <li style="padding:20px">
                <form method="post" asp-area="Identity" asp-page="/Account/Logout" id="logoutForm">
                    <button type="submit" class="btn btn-link nav-link" style="border: none; background: none; padding: 0; color: inherit;">
                        <i class="fa fa-sign-out"></i> Log out
                    </button>
                </form>
            </li>
        </ul>
    </nav>
</div>