@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Create Announcement";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Create Announcement</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Dashboard", "Home")">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Announcement</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Create Announcement</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>