@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Scoring and Results";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Enter Scores</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Dashboard", "Index")">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Scoring and Results</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Enter Scores</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
        <a asp-action="FinalRankings" class="btn btn-primary btn-sm float-right mt-3"><i class="fa fa-plus"></i> Final Rankings</a>
    </div>
</div>